@tailwind base;
html,
body,
#__next,
.app {
  height: 100%;
}
body {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-feature-settings: 'ss04', 'tnum' 0;
  color: var(--primary);
  background-color: rgb(19, 26, 53);
}

/* Quick qverride font-family */
.app .dialect {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  outline: none !important; /* without !important, the priority is not high enough */
}
input {
  font-weight: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Temp make headlessui not conflict with other z-index */
/* TODO: remove headlessui dependence */
#headlessui-portal-root {
  isolation: isolate;
}

@media (min-width: 1000px) {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 700;
}
